.header {
    position: relative;
    z-index: 2;
    min-height: var(--header-height);
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 65%;
    height: var(--header-height);
    background-color: var(--color-dark-alternate);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-image {
    width: 100%;
    max-width: 79px;
    height: 24px;
    fill: var(--color-light);
}

.header__logo,
.header__menu-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    text-decoration: none;
    color: var(--color-light);
}

.header__menu-list {
    display: flex;
    column-gap: 10px;
}

.header__menu-link {
    padding-inline: 24px;
}

.header__menu-link:not(.is-current):hover {
    color: var(--color-dark-grey);
}

.header__menu-link.is-current {
    font-weight: 700;
    background-color: var(--color-primary);
}

.header__burger-button {
    position: relative;
    display: none;
    align-items: center;
    justify-content: end;
    width: 48px;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
}

@media (max-width: 1024px) {

    .header {
        --header-height: 72px;
    }

    .header::after {
        display: none;
    }
}

@media (max-width: 767px) {

    .header__menu {
        display: none;
    }

    .header__burger-button {
        display: flex;
    }

    .header__burger-button::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 18px;
        height: 3px;
        background-color: #C4C4C4;
        border: none;
    }

    .header__burger-button::after {
        content: '';
        position: absolute;
        top: 65%;
        left: 55%;
        translate: -50% -50%;
        width: 13px;
        height: 3px;
        background-color: #C4C4C4;
        border: none;
    }

    .header__burger-button:hover {
        background-color: transparent;
    }

    .header__burger-button:active {
        background-color: var(--color-light);
    }
}