.partners__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.partners__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 325px;
    height: 140px;
    border: 1px solid var(--color-dark-alternate);
}

.partners__wrapper-icon {
    width: 85px;
    height: 30px;
    fill: #8491A0;
}

@media (max-width: 767px) {

    .partners__list {
        grid-template-columns: repeat(2, auto);
    }

    .partners__item {
        max-width: 385px;
    }
}
